<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Fill in the Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-5">
  <div class="card ">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="pt-3" style="color: rgb(47, 79, 63); font-weight: bolder"
            >Name</label
          >
          <input type="text" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="form-group col-md-6">
          <label style="color: rgb(47, 79, 63); font-weight: bolder"
            >Email</label
          >
          <input type="email" class="form-control" [(ngModel)]="email" />
        </div>

        <div class="form-group col-md-6">
          <label style="color: rgb(47, 79, 63); font-weight: bolder"
            >Cell phone</label
          >
          <input
            type="tel"
            class="form-control"
            maxlength="10"
            [(ngModel)]="cell"
          />
        </div>
      </div>
      <div class="form-group">
        <label style="color: rgb(47, 79, 63); font-weight: bolder"
          >Start date</label
        >
        <input type="date" class="form-control" [(ngModel)]="dateS" />
      </div>
      <div class="form-group">
        <label style="color: rgb(47, 79, 63); font-weight: bolder"
          >End date</label
        >
        <input type="date" class="form-control" [(ngModel)]="dateE" />
      </div>

      <div class="form-group">
        <label style="color: rgb(47, 79, 63); font-weight: bolder"
          >Number of People</label
        >
        <input type="number" class="form-control" [(ngModel)]="number" />

        <ion-list>
          <ion-list-header>
            <ion-label style="color: rgb(47, 79, 63); font-weight: bolder">
              Description
            </ion-label>
          </ion-list-header>

          <textarea
            class="form-control"
            placeholder="Please provide add description to let us better understand your reason for booking this facility"
            [(ngModel)]="description"
          ></textarea>
        </ion-list>
      </div>

      <button (click)="makeBookings()" class="btn mb-3" >BOOK</button>
    </div>

    </div>
    
      
  </div>

  
</ion-content>
