<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Facilities</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container mb-5">
    <div class=" mt-3" *ngFor="let facility of facilities">
      <div class="card cardContent"  (click)="viewMore(facility)">
        <div>
          <img src={{facility.center_image}} style="width: 200px" />
        </div>
  
        <div>
          <h5 class="card-title">{{facility.center_name}}</h5>
  
          <div style="display: flex; justify-content: space-between">
            <div>
              <small>{{facility.center_location}}</small>
            </div>
            <div >
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</ion-content>

