<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title  style="text-align: center;">Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="container mt-3">
  <div class="card mt-3" *ngFor="let announcement of  announcement">
    <ion-card-subtitle style="text-align: center;">
      {{announcement.title}}
      <ion-card-title>
        {{announcement.description}}
      </ion-card-title>
    </ion-card-subtitle>
    <ion-card-content>
     {{announcement.area}}

     <div class="mt-3" style="display:flex;justify-content:space-between">
       <div>
        <small>{{announcement.department}}</small>
       </div> 
       <div>
        <small>{{announcement.announcer}}</small>
       </div>
     </div>
    </ion-card-content>
  </div>
</div>
  

</ion-content>
