<ion-header>
  <ion-toolbar  color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title  style="text-align: center;">Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card class="card">
      <ion-card-subtitle style="text-align: center;">
          Water shedding
        <ion-card-title>
          Galeshewe
        </ion-card-title>
      </ion-card-subtitle>
      <ion-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum animi rem expedita vero voluptates perspiciatis ab mollitia velit doloribus recusandae eligendi, impedit inventore libero delectus nulla reiciendis et totam iure!
      </ion-card-content>
  </ion-card>

</ion-content>
