@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

.content {
  width:100%;
   font-family: 'Poppins', sans-serif;
   background-color: whitesmoke;
}
.service {
 
}


p{
  font-size: 12px;
  line-height: 18px;
  color: #777;
  font-family: 'Poppins', sans-serif;
}

h6{
  font-size: 10px;
  padding-top: 10px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 25px;
  padding-top: 10px;
  line-height: 18px;
  color: #e97171;
}
  

.services_content{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid steelblue 2px;
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
}

i {
  text-align: center;
  padding-left: 20px;
  padding-top: 25px;
  font-size: 25px;
}

.card{
  position: relative;
  height: 250px;
  --border-radius: 10px;
  --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;

}

.card-title{
  font-family: 'Poppins', sans-serif;
}
.status {
  position: absolute;
   top: 80px;
   left: 85px; 
   padding: 5px;
  
   color:white
  

}



.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

i{
  color: #e97171;
  font-size: 25px;
  padding-left: 12%;
}

ion-card-subtitle{
  font-family: 'Poppins', sans-serif;
}

div{
  font-family: 'Poppins', sans-serif;
}



