<ion-content>
  <div class="services mt-5">

    <ion-slides pager="false" [options]="slideServices">
      <ion-slide> <div class="services_content" [routerLink]="'/report'">
        <i class="fas fa-exclamation-triangle"></i>
        <h6 style="padding-top:15%;padding-left:15%;">Report case</h6>
      </div>
    </ion-slide>
      <ion-slide>
        <div class="services_content" [routerLink]="'/facility-booking'">
          <i class="fas fa-poll-h"></i>
          <h6 style="padding-top: 15%;padding-left:15%;">Book facility</h6>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="services_content" [routerLink]="'/announcements'">
          <i class="fas fa-bullhorn"></i>
          <h6 style="padding-top: 15%;padding-left:15%;">Updates</h6>
        </div>
      </ion-slide>
    </ion-slides>
   
  </div>

  <div class="report_issues">
    <h1 style="padding-left: 15px; font-family: 'Poppins', sans-serif">
      Reported issues
    </h1>
    <small style="padding-left: 15px; font-family: 'Poppins', sans-serif"
      >Track cases</small
    >
    <small></small>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let issues of issues">
        <ion-card class="card" (click)="viewcase(issues)">
          <img src="{{ issues.picture}}" />
          <div *ngIf="issues.status=='pending'; else elseBlock" class="status" style="background-color: red;">
                Pending
          </div>
          <ng-template #elseBlock class="status" style="background-color: green;"
            >Resolved</ng-template
          >
          <ion-card-header>
            <ion-card-subtitle> Local Government Issue </ion-card-subtitle>
            <ion-card-title>{{issues.problemType}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{issues.comment.substring(0,20)}} ......</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="government_facility">
    <h1 style="padding-left: 15px; font-family: 'Poppins', sans-serif">
      Government facility
    </h1>
    <small style="padding-left: 15px; font-family: 'Poppins', sans-serif"
      >Any queries and bookings</small
    >

    <ion-slides
      pager="false"
      [options]="slideOpts"
      class="card-background-page"
    >
      <ion-slide *ngFor="let facility of  facilities ">
        <ion-card (click)="viewMore(facility)">
          <img src="{{facility.center_image}}" style="height: 150px" />
          <div class="card-title">{{facility.center_name}}</div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
